{% extends "pythonapp/base.html" %}


{% load static %}
{% block title %}
Index Page
{% endblock %}

{% block content %}

  <h1>Python Tutorial</h1>
  <hr class="hr1">

<p>
Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming.
</p>
<p>
Python is a interpreted language and it can be easilyt extended with new functions and datatypes.

</p>
<hr class="hr1">
<p>
The main intention of desining this tutorial is to  make Python language concepts
as much as simple with the help of examples, so that anyone can understand easily
within a short period of time.
</p>
<p>
All the examples which are given in this Python Tutorial are tested on
<span class="h4">Python 3.6.6</span> and <span class="h4"> Ubantu 16 LTS</span> Operating System.
</p>

<hr class="hr1">
<a class="next btn btn-success btn-lg" href="/python/introduction/">Next</a>
<br>
<br>
<hr class="hr1">
<hr class="hr2">

{% endblock %}
