{% extends "pythonapp/base.html" %}

{% block title %}

Introduction to Python
{% endblock %}

{% block content %}

<h1>Introduction to Python</h1>

<a class="next btn btn-success btn-lg" href="{% url 'python_first_program' %}">Next</a>
<br>
<br>
<hr class="hr1">
<hr class="hr2">
<div class="well">
  The main intention of desining this tutorial is to make Python language concepts as much as simple with the help of examples, so that anyone can understand easily within a short period of time.
 All the examples which are given in this python tutorial are tested on Python 3.6.6 and Ubantu 16.04 LTS operating system.

</div>
<hr class="hr1">
<p>
Python is a powerful programming language created by <strong>Guido van Rossum</strong>,
in the early 1990s and is a successor of ABC language.It is a ideal language for
Scripting and rapid development of applications.
</p>
<p>
Python is simple to use, but it is a
real programming language which offers much more structure and support for large programs.
Python allows us to split our program into small parts called <strong>modules</strong>. We can use
these modules in another programs.
</p>
<p>
Python is a interpreted language. There is no need of compilation and linking for a
python program hence it saves our time during program development. And also the programs
written in python are shorter than C/CPP or JAVA programs. It is Object Oriented as well as
Procedure Oriented programming language.
</p>
 <hr class="hr1">
<h2>Python Implementations</h2>
<p>
  Besides the Python implementation there are some other popular Python implementations such as,
</p>
<ul >
<li>CPython</li>
<p>
  This is the most popular and Original implementation of the Python language which is written in
  <strong>C</strong> language.
</p>
<li>JPython</li>
<p>
This implementation is written in JAVA language. We can use this implementation as a
scripting language with JAVA applications.
</p>
<li>PyPy</li>
<p>
  This is another implementation of the Python which is purely written in Python language.
  It provides several advanced features which are not available in other implementations.
  It provides Just-in-Time compiler which helps to run python programs faster. If we want to
  run our programs faster then we should use the PyPy implementation.
</p>
<li>IronPython</li>
<p>This implementation is for a .NET. This implementation helps to generate the Intermediate Language Code (IL).</p>
</ol>
<hr class="hr1">

<h2>Python Installation</h2>










<hr class="hr1">
<a class="next btn btn-success btn-lg" href="{% url 'python_first_program' %}">Next</a>

<hr class="hr1">
<hr class="hr2">

{% endblock %}
