.homeindex{
  margin-top: 25px;
}
h1{
  text-align: center;
}


h2{

}

h3{

}
strong{
  font-weight: bolder;
}


.hr1{
  border-color: green;
}
.hr2{
  border-color: red;
}

.pre{
  color:black;
}

.next{
  color: green;
  float:right;
}






body{
  background-color: black;
  color:white;
  font-weight:bold;
}




#content{
  margin-top: 60px;
  background: white;
  color:black;
}




#pythonindexbtn{
  width: 40px;
  height:40px;
  color:red;
  background:yellow;
}
