<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static "css/home.css" %}"">
  </head>
  <body>
    <div class="container">
           <div class="row">
               <div class="col-xs-12">
                   <nav class="mymenubar navbar navbar-default navbar-inverse navbar-fixed-top">

                       <div class="navbar-header">
                           <button class="navbar-brand navbar-toggle" data-target="#mainNavbar" data-toggle="collapse"  type="button" name="button">
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class='icon-bar'></span>
                               <span class="icon-bar"></span>
                           </button>
                         </div>

                           <div  class="navbar-collapse collapse" id="mainNavbar">
                               <ul class="nav navbar-nav">
                                   <li> <a href="/">Home</a>  </li>
                                   <li> <a href="/python/">Python</a>  </li>
                                   <li> <a href="/django/">Django</a>  </li>
                                   <li><a href="/flask/">Flask</a> </li>
                                   <li> <a href="#">About</a></li>
                                 </ul>
                               </div>
                     </nav>
                   </div>
                 </div>




<div class="row">



<div class="col-xs-12 col-md-4">
    <div class="jumbotron">
      <img class="img-responsive" src="{% static "images/python1.png" %}" alt="Python image">
      <a style="margin-top: 5px;" class="btn btn-lg btn-success" href="/python/">Python Tutorial >>>></a>
    </div>
    <p class="overview1">
      Python is a powerful programming language created by Guido van Rossum, in the early 1990s and is a successor of ABC language.It is a ideal language for Scripting and rapid development of applications.   </p>
</div>

<div class="col-xs-12 col-md-4">
    <div class="jumbotron">
      <img class="img-responsive " src="{% static "images/django.jpeg" %}" alt="Python image">
      <a style="margin-top: 5px;" class="btn btn-lg btn-success" href="/django/">Django Tutorial >>>></a>


    </div>
    <p class="overview1">
    Django is a web development Framework, it is purely written in Python. It was designed to make Common web-development task fast and easy.
    It is maintaned by the Django Software Foundation.
    Django was started as internal project, in 2003 and released in July 2005. Django comes with a lightweigth Web Server which provides development environment to facilate end-to-end application development and testing.
    </p>

</div>


<div class="col-xs-12 col-md-4">
    <div class="jumbotron">
      <img class="img-responsive" src="{% static "images/flask.png" %}" alt="Flask image">
      <a style="margin-top: 5px;" class="btn btn-lg btn-success" href="#">Flask Tutorial >>>></a>

    </div>
    <p  class="overview1">
      Flask is a micro framework for python web development.
      In 2004, some python interested people came together and they formed
      a group, called Pocoo.
       Flask was developed at <span style="color:red;">pocco</span> by
       <span style="color:red;">Armin Ronacher </span>  of Pocoo and it is
       based on Werkzeug and Jinja2. It is purely written in Python language.

  </p>
</div>





</div>

<hr>
<div class="row">
<div class="col-xs-12 col-md-4">


      <form action="" class=" form-group responsive" method="POST">
        <h1>Feedback Form</h1>
            {{form.as_p}}
            {% csrf_token %}
            <button class="btn btn-lg btn-success">Submit</button>
      </form>

</div>
</div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
